<a href="https://colab.research.google.com/github/laura-DGM/Colaboratory/blob/main/reto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importar Libs
import pandas as pd
import numpy as np

In [2]:
#Leer Datos
dataset_p_logico = pd.read_csv("/content/drive/MyDrive/Reto_trabajo/Pensamiento_Logico_Mat.csv", sep=';',header=0,encoding='utf-8') #Pensamiento_Logico_Mat es mi DataFrame (df)
print(dataset_p_logico.shape)
dataset_p_logico.head(2)

(64, 62)

,Marca temporal,Puntuación total,Escriba los apellidos en mayúscula y sin tildes.,Escriba los apellidos en mayúscula y sin tildes. [Puntuación],Escriba los apellidos en mayúscula y sin tildes. [Comentarios],Escriba los nombres en mayúscula y sin tildes.,Escriba los nombres en mayúscula y sin tildes. [Puntuación],Escriba los nombres en mayúscula y sin tildes. [Comentarios],Seleccione el salón al cuál pertenece.,Seleccione el salón al cuál pertenece. [Puntuación],...,La finalidad del plano cartesiano es: [Comentarios],Las partes del plano cartesiano son:,Las partes del plano cartesiano son: [Puntuación],Las partes del plano cartesiano son: [Comentarios],Manuela está en la taquilla. Para llegar a los carros chocones ella debe caminar:,Manuela está en la taquilla. Para llegar a los carros chocones ella debe caminar: [Puntuación],Manuela está en la taquilla. Para llegar a los carros chocones ella debe caminar: [Comentarios],Manuela esta en la Rueda de Chicago. Para llegar a los Tronquitos ella debe caminar:,Manuela esta en la Rueda de Chicago. Para llegar a los Tronquitos ella debe caminar: [Puntuación],Manuela esta en la Rueda de Chicago. Para llegar a los Tronquitos ella debe caminar: [Comentarios]
0,2021/06/18 6:02:30 p. m. GMT-5,31.00 / 34,Alvira mejia,-- / 0,NaN,Oliver,-- / 0,NaN,A,-- / 0,...,NaN,"Ejes coordenados (x,y), punto origen y cuadran...",3.00 / 3,NaN,100 metros al oriente y 50 metros al norte.,3.00 / 3,NaN,100 metros al norte y 50 al oriente.,3.00 / 3,NaN
1,2021/06/18 9:49:40 a. m. GMT-5,31.00 / 34,Austin,-- / 0,NaN,David,-- / 0,NaN,A,-- / 0,...,NaN,"Ejes coordenados (x,y), punto origen y cuadran...",3.00 / 3,NaN,100 metros al oriente y 50 metros al norte.,3.00 / 3,NaN,100 metros al norte y 50 al oriente.,3.00 / 3,NaN

In [3]:
data_log=dataset_p_logico.drop(dataset_p_logico.columns[[0,3,4,6,7,9,10,11,13,14,16,17,19,20,22,23,25,26,28,29,31,32,34,35,37,38,40,41,43,44,46,47,49,50,52,53,55,56,58,59,61]],axis='columns')
n1=data_log.columns[1]
n2=data_log.columns[2]

In [4]:
data_log["Estudiante"]=data_log[n1].map(str)+" "+data_log[n2]
data_log=data_log.drop(data_log.columns[[1,2]],axis="columns")
data_log

,Puntuación total,Seleccione el salón al cuál pertenece.,¿Qué valor tiene el dígito que está dentro del paréntesis en este número de 7 cifras? ----- 2.351.(5)13 [Puntuación],¿Qué valor tiene el dígito que está dentro del paréntesis en este número de 5 cifras? (9)3.819 [Puntuación],¿Qué valor tiene el dígito que está dentro del paréntesis en este número de 6 cifras? (1)39.274 [Puntuación],"Cuál de las siguientes opciones tiene los números que faltan en esta serie: 36, 42, 48, 54, ____ , ____ , ____ , [Puntuación]",¿Cuál es el mayor número de tres dígitos que los niños pueden formar con las fichas? [Puntuación],Pepe tiene el doble de canicas que Luis y entre los dos reúnen 30 canicas. ¿Cuántas canicas tiene Pepe y cuántas canicas tiene Luis? [Puntuación],Una fracción representa: [Puntuación],La fracción 4/8 se lee: [Puntuación],La fracción representada es: [Puntuación],Un depósito contiene 100 litros de agua. Se consumen los 2/5 partes de su contenido. ¿Cuántos litros de agua quedan? [Puntuación],Un poliedro es un cuerpo geométrico que tiene: [Puntuación],Un cuerpo geométrico esta formado por: [Puntuación],"La siguiente figura representa una caja. En la figura se señalan las dimensiones de la caja, por estas características podemos afirmar que es un cuerpo: [Puntuación]",La finalidad del plano cartesiano es: [Puntuación],Las partes del plano cartesiano son: [Puntuación],Manuela está en la taquilla. Para llegar a los carros chocones ella debe caminar: [Puntuación],Manuela esta en la Rueda de Chicago. Para llegar a los Tronquitos ella debe caminar: [Puntuación],Estudiante
0,31.00 / 34,A,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,3.00 / 3,1.00 / 1,1.00 / 1,1.00 / 1,2.00 / 2,3.00 / 3,3.00 / 3,0.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,Alvira mejia Oliver
1,31.00 / 34,A,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 3,1.00 / 1,1.00 / 1,1.00 / 1,2.00 / 2,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,Austin David
2,23.00 / 34,B,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 3,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 2,3.00 / 3,3.00 / 3,0.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,Banda Amit
3,16.00 / 34,B,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 3,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 2,3.00 / 3,3.00 / 3,0.00 / 3,0.00 / 3,3.00 / 3,0.00 / 3,0.00 / 3,Bates Elizabeth
4,29.00 / 34,B,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,3.00 / 3,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 2,3.00 / 3,3.00 / 3,0.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,Bell Sarah
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,31.00 / 34,A,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,3.00 / 3,1.00 / 1,1.00 / 1,1.00 / 1,2.00 / 2,3.00 / 3,3.00 / 3,0.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,Vollman Shanta
60,10.00 / 34,B,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,3.00 / 3,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 2,0.00 / 3,0.00 / 3,0.00 / 3,0.00 / 3,3.00 / 3,0.00 / 3,0.00 / 3,Alana Walsh Alana Walsh
61,27.00 / 34,A,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,3.00 / 3,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 2,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,0.00 / 3,Weiss Matthew
62,14.00 / 34,B,0.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,3.00 / 3,1.00 / 1,0.00 / 1,0.00 / 1,0.00 / 2,3.00 / 3,0.00 / 3,0.00 / 3,3.00 / 3,0.00 / 3,3.00 / 3,0.00 / 3,Whalen Jennifer
63,23.00 / 34,A,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 3,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 2,3.00 / 3,3.00 / 3,3.00 / 3,3.00 / 3,0.00 / 3,3.00 / 3,3.00 / 3,Zlotkey Eleni

In [5]:
data=data_log.drop(data_log.columns[2:19],axis=1)
data

,Puntuación total,Seleccione el salón al cuál pertenece.,Estudiante
0,31.00 / 34,A,Alvira mejia Oliver
1,31.00 / 34,A,Austin David
2,23.00 / 34,B,Banda Amit
3,16.00 / 34,B,Bates Elizabeth
4,29.00 / 34,B,Bell Sarah
...,...,...,...
59,31.00 / 34,A,Vollman Shanta
60,10.00 / 34,B,Alana Walsh Alana Walsh
61,27.00 / 34,A,Weiss Matthew
62,14.00 / 34,B,Whalen Jennifer
63,23.00 / 34,A,Zlotkey Eleni

In [6]:
A=data_log.iloc[:,0]
global B
A=A.replace('/ 34','',regex=True).astype(float)
data["puntuacion total"]=A
data
def nota(listas):
      B=round(listas*100/34,2)
      #print(B)
      return B

nota(A)
data['nota']='100 /34'
L=nota(A)
data['nota final']=L
data.head(30)

,Puntuación total,Seleccione el salón al cuál pertenece.,Estudiante,puntuacion total,nota,nota final
0,31.00 / 34,A,Alvira mejia Oliver,31.0,100 /34,91.18
1,31.00 / 34,A,Austin David,31.0,100 /34,91.18
2,23.00 / 34,B,Banda Amit,23.0,100 /34,67.65
3,16.00 / 34,B,Bates Elizabeth,16.0,100 /34,47.06
4,29.00 / 34,B,Bell Sarah,29.0,100 /34,85.29
5,26.00 / 34,A,Bernstein David,26.0,100 /34,76.47
6,28.00 / 34,B,Bloom Harrison,28.0,100 /34,82.35
7,27.00 / 34,B,Bull Alexis,27.0,100 /34,79.41
8,27.00 / 34,B,Cabrio Anthony,27.0,100 /34,79.41
9,32.00 / 34,A,Cambrault Nanette,32.0,100 /34,94.12
10,34.00 / 34,A,Chen John,34.0,100 /34,100.00
11,24.00 / 34,B,Chung Kelly,24.0,100 /34,70.59
12,19.00 / 34,A,Colmenares Karen,19.0,100 /34,55.88
13,25.00 / 34,A,De Haan Lex,25.0,100 /34,73.53
14,27.00 / 34,B,Dellinger Julia,27.0,100 /34,79.41
15,26.00 / 34,B,Dilly Jennifer,26.0,100 /34,76.47
16,28.00 / 34,A,Ernst Bruce,28.0,100 /34,82.35
17,24.00 / 34,B,Everett Britney,24.0,100 /34,70.59
18,34.00 / 34,A,Faviet Daniel,34.0,100 /34,100.00
19,22.00 / 34,B,Feeney Kevin,22.0,100 /34,64.71
20,29.00 / 34,B,Fleaur Jean,29.0,100 /34,85.29
21,28.00 / 34,B,Fox Tayler,28.0,100 /34,82.35
22,29.00 / 34,A,Fripp Adam,29.0,100 /34,85.29
23,24.00 / 34,B,Gates Timothy,24.0,100 /34,70.59
24,22.00 / 34,B,Geoni Girard,22.0,100 /34,64.71
25,33.00 / 34,B,Grant Kimberely,33.0,100 /34,97.06
26,12.00 / 34,A,Greenberg Nancy,12.0,100 /34,35.29
27,34.00 / 34,A,Hall Peter,34.0,100 /34,100.00
28,31.00 / 34,NaN,Hartstein Michael,31.0,100 /34,91.18
29,24.00 / 34,A,Hunold Alexander,24.0,100 /34,70.59

In [7]:
 A=data_log.iloc[:,0]
 global B
A=A.replace('/ 34','',regex=True).astype(float)
data["puntuacion total"]=A
data
def nota(listas):

  B=[]
  for n in listas:
     B=round(n*100/34,2)
     #print(B)
  return B
nota(A)

L=nota(A)

data['nota final']=L
data

,Puntuación total,Seleccione el salón al cuál pertenece.,Estudiante,puntuacion total,nota,nota final
0,31.00 / 34,A,Alvira mejia Oliver,31.0,100 /34,67.65
1,31.00 / 34,A,Austin David,31.0,100 /34,67.65
2,23.00 / 34,B,Banda Amit,23.0,100 /34,67.65
3,16.00 / 34,B,Bates Elizabeth,16.0,100 /34,67.65
4,29.00 / 34,B,Bell Sarah,29.0,100 /34,67.65
...,...,...,...,...,...,...
59,31.00 / 34,A,Vollman Shanta,31.0,100 /34,67.65
60,10.00 / 34,B,Alana Walsh Alana Walsh,10.0,100 /34,67.65
61,27.00 / 34,A,Weiss Matthew,27.0,100 /34,67.65
62,14.00 / 34,B,Whalen Jennifer,14.0,100 /34,67.65
63,23.00 / 34,A,Zlotkey Eleni,23.0,100 /34,67.65

In [11]:
def curso(listas,da):
  i=0
  for n in listas:
    if (n=='A'):
      da=da.drop([i])
    #print(da)
    i+=1
  return da

P=curso(data.iloc[:,1],data)
P=P.drop(P.columns[[0,1]],axis=1)
P
P.to_excel('example.xlsx', sheet_name='Curso A')

In [12]:
def curso(listas,da):
  i=0
  for n in listas:
    if (n=='B'):
      da=da.drop([i])
    #print(da)
    i+=1
  return da

P=curso(data.iloc[:,1],data)
P=P.drop(P.columns[[0,1]],axis=1)
print(P.shape)
P

(32, 4)

             Estudiante  puntuacion total     nota  nota final
0   Alvira mejia Oliver              31.0  100 /34       67.65
1          Austin David              31.0  100 /34       67.65
5       Bernstein David              26.0  100 /34       67.65
9     Cambrault Nanette              32.0  100 /34       67.65
10            Chen John              34.0  100 /34       67.65
12     Colmenares Karen              19.0  100 /34       67.65
13          De Haan Lex              25.0  100 /34       67.65
16          Ernst Bruce              28.0  100 /34       67.65
18        Faviet Daniel              34.0  100 /34       67.65
22           Fripp Adam              29.0  100 /34       67.65
26      Greenberg Nancy              12.0  100 /34       67.65
27           Hall Peter              34.0  100 /34       67.65
28    Hartstein Michael              31.0  100 /34       67.65
29     Hunold Alexander              24.0  100 /34       67.65
33       Kaufling Payam              23.0  100 /34       67.65
34          King Steven              30.0  100 /34       67.65
35        Kochhar Neena              18.0  100 /34       67.65
37         Landry James              30.0  100 /34       67.65
39        Lorentz Diana              22.0  100 /34       67.65
41    Mikkilineni Irene              16.0  100 /34       67.65
42        Mourgos Kevin              13.0  100 /34       67.65
43          Nayer Julia              28.0  100 /34       67.65
45    Olsen Christopher              31.0  100 /34       67.65
47      Pataballa Valli              32.0  100 /34       67.65
49            Popp Luis              26.0  100 /34       67.65
50         Raphaely Den              15.0  100 /34       67.65
52       Sciarra Ismael              22.0  100 /34       67.65
57         Tucker Peter              30.0  100 /34       67.65
58    Urman Jose Manuel              28.0  100 /34       67.65
59       Vollman Shanta              31.0  100 /34       67.65
61        Weiss Matthew              27.0  100 /34       67.65
63        Zlotkey Eleni              23.0  100 /34       67.65